@font-face {
  font-family: yekan;
  src: url(../../../public/font/IRANYekanWeb.eot);
  src: url(../../../public/font/IRANYekanWeb.woff);
  src: url(../../../public/font/IRANYekanWeb.woff2);
  src: url(../../../public/font/IRANYekanWeb.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: yekan;
}
:root {
  --gray-color-0: white;
  --gray-color-25: #f0f0f1;
  --gray-color-75: #f3f3f4;
  --gray-color-90: #f4f4f4;
  --gray-color-100: #ecedef;
  --gray-color-125: #e0e0e2;
  --gray-color-135: #e1e1e3;
  --gray-color-140: #ecefef;
  --gray-color-145: #ebe5eb;
  --gray-color-150: #b4aaa8;
  --gray-color-175: #a1a3a8;
  --gray-color-200: #a1a3a8;
  --gray-color-250: #c0c2c5;
  --gray-color-275: #8b8b8b;
  --gray-color-300: #81858b;
  --gray-color-400: #62666d;
  --gray-color-450: #424242;
  --gray-color-500: #424750;
  --gray-color-550: #3c4b6d;
  --gray-color-600: #3f4064;
  --gray-color-800: #4d4d4d;
  --red-color-500: #ef4056;
  --red-color-550: #ef3c52;
  --red-color-600: #d52d4e;
  --red-color-625: #d32f2f;
  --red-color-650: #e3113b;
  --blue-color-0: #e1f5fe;
  --blue-color-100: #1028ff;
  --blue-color-500: #0d4485;
  --blue-color-1000: #002171;
  --black-color-500: #0c0c0c;
  --black-color-1000: #000000;
  --kerem-color-100: #fcf3eb;
  --kerem-color-125: #fef6ef;
  --kerem-color-300: #fbe7d5;
  --brown-color-500: #934c0e;
  --green-color-200: #70bb2b;
  --green-color-600: #029a49;
  --green-color-800: #008000;
  --orange-color-200: #d86b00;
  --orange-color-500: #f57f17;
  --yellow-color-300: #f9bc00;
  --purple-color-25: #e6daf0;
  --puple-color-50: #e6cfff;
  --purple-color-500: #b12bb5;
  --purple-color-700: #800080;
  --pink-color-25: #f5eff0;
  --pink-color-100: #f3dfe3;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadein {
  animation: fadein 400ms linear 0s 1 alternate forwards;
  -webkit-animation: fadein 400ms linear 0s 1 alternate forwards;
}
.fadeout {
  animation: fadeout 400ms linear 0s 1 alternate forwards;
  -webkit-animation: fadeout 400ms linear 0s 1 alternate forwards;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  display: none;
  z-index: 11;
  opacity: 0;
  .page-loc {
    width: 780px;
    background-color: var(--gray-color-0);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 0 20px;
    .loc-loc {
      width: 100%;
      padding: 16px 0;
      .loc-1 {
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;
        span {
          font-size: 16px;
          font-weight: bold;
          color: var(--black-color-500);
        }
        svg {
          width: 24px !important;
          height: 24px !important;
          fill: var(--gray-color-400);
          cursor: pointer;
        }
      }
      .loc-2 {
        width: 100%;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p {
          font-size: 12px;
          color: var(--gray-color-300);
        }
      }
      .khat-loc{
        width: 100%;
        height: 1.5px;
        border: unset;
        outline: unset;
        background-color: var(--gray-color-25);
        margin: 20px 0 20px;
      }
      .loc-3 {
        width: 100%;
        height: 240px;
        position: relative;
        .search-loc {
          width: 644px;
          height: 56.25px;
          background-color: var(--gray-color-0);
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 12px 16px;
          position: absolute;
          top: 10px;
          right: 6%;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          .btn-loc {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: unset;
            outline: unset;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: default;
            span {
              font-size: 15px;
              color: var(--gray-color-300);
              cursor: text;
            }
          }
          svg {
            fill: var(--gray-color-300) !important;
            width: 24px !important;
            height: 24px !important;
            cursor: pointer;
          }
        }
        .img-loc {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center right;
            cursor: grab;
          }
        }
      }
      .loc-4 {
        width: 100%;
        height: 48px;
        background-color: var(--red-color-550);
        margin-top: 20px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span{
          font-size: 16px;
          color: var(--blue-color-0);

        }
      }
    }
  }
}
.active {
  display: flex;
}
