@font-face {
  font-family: yekan;
  src: url(../../../public/font/IRANYekanWeb.eot);
  src: url(../../../public/font/IRANYekanWeb.woff);
  src: url(../../../public/font/IRANYekanWeb.woff2);
  src: url(../../../public/font/IRANYekanWeb.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: yekan;
}
:root {
  --gray-color-0: white;
  --gray-color-25: #f0f0f1;
  --gray-color-75: #f3f3f4;
  --gray-color-90: #f4f4f4;
  --gray-color-100: #ecedef;
  --gray-color-125: #e0e0e2;
  --gray-color-135: #e1e1e3;
  --gray-color-140: #ECEFEF;
  --gray-color-145: #EBE5EB;
  --gray-color-150: #b4aaa8;
  --gray-color-175: #a1a3a8;
  --gray-color-200: #a1a3a8;
  --gray-color-250: #c0c2c5;
  --gray-color-275: #8b8b8b;
  --gray-color-300: #81858b;
  --gray-color-400: #62666d;
  --gray-color-450: #424242;
  --gray-color-500: #424750;
  --gray-color-550: #3c4b6d;
  --gray-color-600: #3f4064;
  --gray-color-800: #4d4d4d;
  --red-color-500: #ef4056;
  --red-color-550: #ef3c52;
  --red-color-600: #d52d4e;
  --red-color-625: #d32f2f;
  --red-color-650: #e3113b;
  --blue-color-0: #E1F5FE;
  --blue-color-100: #1028ff;
  --blue-color-500: #0d4485;
  --blue-color-1000: #002171;
  --black-color-500: #0c0c0c;
  --black-color-1000: #000000;
  --kerem-color-100: #fcf3eb;
  --kerem-color-125: #fef6ef;
  --kerem-color-300: #fbe7d5;
  --brown-color-500: #934c0e;
  --green-color-200: #70bb2b;
  --green-color-600: #029A49;
  --green-color-800: #008000;
  --orange-color-200: #D86B00;
  --orange-color-500: #f57f17;
  --yellow-color-300: #f9bc00;
  --purple-color-25: #E6DAF0;
  --puple-color-50: #E6CFFF;
  --purple-color-500: #b12bb5;
  --purple-color-700: #800080;
  --pink-color-25: #F5EFF0;
  --pink-color-100: #F3DFE3;
}
